{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<body>

<table>
    <tr>
        <th>Class Name</th>
        <th>Subject Name</th>
        <th>Number of slots available</th>
    </tr>
    <tbody>
    {% for class in classes %}
        <tr id="class-{{ class.pk }}">
            <td class="class-name">
                {{ class.name }}
            </td>
            <td class="class-subject">
                {{ class.subject }}
            </td>
            <td class="class-capacity">
                {{ class.slots_taken }}/{{ class.max_capacity }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


</body>
<script src="{% static "channels/js/websocketbridge.js" %}"></script>
<script>

    const webSocketBridge = new channels.WebSocketBridge();
    webSocketBridge.connect('/ws/enrollment/');
    webSocketBridge.listen(function (action, stream) {
        console.log(action);
        document.querySelector(`#class-${action.id}`).innerHTML = `
            <td class="class-name">
                ${action.name}
            </td>
            <td class="class-subject">
            ${action.subject}
            </td>
            <td class="class-capacity">
                ${action.slots_taken}/ ${action.max_capacity}
            </td>
        `
    });
    webSocketBridge.socket.addEventListener('open', function () {
        console.log("Connected to WebSocket");
    });
</script>
</html>